@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {

    background-image: url('https://c0.wallpaperflare.com/preview/777/949/73/sunset-bridge-sea-lithuania.jpg');
    background-position: 45% center;
    background-size: cover;
    height: 90vp;
    margin-bottom: 10px;
}

header h1 {

    text-align: center;
    background-color: rgba(255, 255, 255, 0.24);
    padding: 50px 0;
    height: 90vh;
    line-height: 90vh;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px white;
}

h3 {

    padding: 20px;
    text-align: center;
}

.apartament p {
    padding: 20px;
    text-align: center;
    line-height: 1.5;

}

.img1 {
    background-image: url('https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/279691967_131754439446925_4345294266934264752_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=AVe6Iub0OboAX_PZ2ih&_nc_ht=scontent-frt3-1.xx&oh=00_AT_OPziH7MW97pUAbKqm3mUVyAwTOtrug4JkX68eujZMwA&oe=62C3E290');
    background-position: 45% center;
    background-size: cover;
    height: 150px;
}

.img2 {
    background-image: url('https://scontent-frt3-2.xx.fbcdn.net/v/t39.30808-6/278707461_130800792875623_2922586200983907421_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=FjeN2I5dEIsAX8jZ2fe&_nc_ht=scontent-frt3-2.xx&oh=00_AT_Q1k82lgLcP5LzDnzZvx2u3GK1RFoNE5H4-xISkxsCpg&oe=62C3C393');
    background-position: 45% center;
    background-size: cover;
    height: 150px;
}

.img3 {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/263/138/437/sopot-poland-polish-hd-wallpaper-preview.jpg');
    background-position: 45% center;
    background-size: cover;
    height: 150px;
}

.img4 {
    background-image: url('https://img.freepik.com/free-photo/website-internet-contact-us-page-concept-with-phone-email-mail-icons-hotline-support-contact-communication-concept-wide-panorama-view-sign-mail-mobile-phone-icons-copy-space_256259-1518.jpg?w=1800');
    background-position: 45% center;
    background-size: cover;
    height: 150px;
}

footer {
    padding: 20px 30px;
    background-color: bisque;
    margin-top: 10px;

}

footer p {

    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1,5px;

}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row; /*domyślny układ poziomy*/
        flex-wrap: wrap;
    }

    .apartament {
        width: 50%;
        padding: 20px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .apartament {
        width: calc(100% / 3);
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .apartament {
        width: calc(100% / 4); }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .apartament {
        width: calc(100% / 4);}
}